<?xml version="1.0" encoding="UTF-8"?>

<!-- Variables -->
<?define Manufacturer = "Soham Dasgupta"?>
<?define ProductName = "Polygon"?>

<?if $(sys.BUILDARCH) = "x64" ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?define PlatformBinary = ".\build\polygon-x64.exe"?>
<?else ?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?define PlatformBinary = ".\build\polygon-x86.exe"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Codepage="1252" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="fc6d3e57-0b38-4e0b-bed7-2ee9466f4791" Language="1033">
    <Package Id="*" Keywords="Installer" Description="A Mac Rectangle inspired window manager for Windows 10/11 powered by AutoHotkey" Manufacturer="$(var.Manufacturer)" InstallerVersion="450" Languages="1033" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1252" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
    <Property Id="DiskPrompt" Value="$(var.ProductName) Installation" />

    <!-- Installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
          <Component Id="PolygonLicense" Guid="*">
            <File Id="LicenseFile" Name="License.rtf" DiskId="1" Source="polygon.rtf" KeyPath="yes" />
          </Component>
          <Directory Id="Bin" Name="bin">
            <Component Id="PolygonExecutable" Guid="6c84730e-5d7a-4b00-9283-14c3ebb248b0">
              <File Id="PolygonExecutableFile" DiskId="1" Source="$(var.PlatformBinary)" Name="Polygon.exe" KeyPath="yes" />
            </Component>
            <Component Id="PolygonConfig" Guid="b1f011b5-5135-4992-ae60-c0bd3dec2890">
              <File Id="PolygonConfigFile" DiskId="1" Source=".\polygon.ini" Name="polygon.ini" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <!-- Shortcut directory -->
      <!-- C:\ProgramData\Microsoft\Windows\Start Menu\Programs\StartUp -->
      <Directory Id="CommonStartupFolder" Name="ProgramData">
        <Directory Id="CommonProgramsFolder" Name="Microsoft">
          <Directory Id="CommonStartUpFolder" Name="Windows">
            <Directory Id="CommonProgramsMenuFolder" Name="Start Menu">
              <Directory Id="CommonStartupMenuFolder" Name="Programs">
                <Directory Id="AllUsersStartupFolder" Name="Startup">
                  <Component Id="PolygonShortcut" Guid="b7dd498a-00ad-4ba9-a5f3-de063c0e91cc">
                    <CreateFolder Directory="AllUsersStartupFolder" />
                    <Shortcut Id="ApplicationShortcut" Name="$(var.ProductName)" Description="Start $(var.ProductName)" Target="[APPLICATIONFOLDER]\bin\Polygon.exe" WorkingDirectory="APPLICATIONFOLDER" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id="Binaries" Title="Application" Description="Installs all binaries and the license." Level="1" ConfigurableDirectory="APPLICATIONFOLDER" AllowAdvertise="no" Display="expand" Absent="disallow">
      <ComponentRef Id="PolygonLicense" />
      <ComponentRef Id="PolygonExecutable" />
      <ComponentRef Id="PolygonConfig" />
      <ComponentRef Id="PolygonShortcut" />
    </Feature>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

    <!-- Include the standard UI -->
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
    </UI>

    <!-- Product icon -->
    <Icon Id="icon.ico" SourceFile=".\polygon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Property Id="ARPHELPLINK" Value="https://github.com/thesobercoder/polygon" />
    <WixVariable Id="WixUILicenseRtf" Value="polygon.rtf" />
  </Product>
</Wix>
