<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Polygon" Version="0.1.0" Manufacturer="thesobercoder" UpgradeCode="fc6d3e57-0b38-4e0b-bed7-2ee9466f4791" Language="1033">
    <Package InstallerVersion="200" Compressed="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Directory structure for per-machine installation -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Polygon" />
      </Directory>

      <!-- Directory structure for per-user installation -->
      <Directory Id="LocalAppDataFolder" Name="LocalAppData">
        <Directory Id="USERINSTALLFOLDER" Name="Polygon" />
      </Directory>

      <!-- Start Menu Folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="StartupFolder" Name="Startup" />
      </Directory>
    </Directory>


    <!-- Features -->
    <Feature Id="ProductFeature" Title="Polygon" Level="1">
			<ComponentGroupRef Id="ProductComponentsMachine" />
			<ComponentGroupRef Id="ProductComponentsUser" />
			<ComponentGroupRef Id="UninstallComponents" />
		</Feature>

    <!-- Components for per-machine installation -->
    <ComponentGroup Id="ProductComponentsMachine" Directory="INSTALLFOLDER">
      <!-- 32-bit components -->
      <Component Id="PolygonExecutable32Machine" Guid="6c84730e-5d7a-4b00-9283-14c3ebb248b0">
        <File Id="PolygonExecutable32MachineFile" Source=".\build\polygon-x86.exe" Name="Polygon32.exe" KeyPath="yes">
          <Shortcut Id="StartupPolygonMachine32" Directory="StartupFolder" Name="Polygon" WorkingDirectory='INSTALLFOLDER' Icon="icon.ico" IconIndex="0" Advertise="yes" />
        </File>
        <Condition><![CDATA[NOT VersionNT64]]></Condition>
      </Component>
      <!-- <Component Id="PolygonRegistry32Machine" Guid="d5fbdb95-2e0b-4855-ae18-cc63a4a898c6">
        <RegistryValue Root="HKCU" Key="Software\Polygon\Polygon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition><![CDATA[NOT VersionNT64]]></Condition>
      </Component> -->

      <!-- 64-bit components -->
      <Component Id="PolygonExecutable64Machine" Guid="484fdf28-8bcb-495f-9c3d-877096b976cd">
        <File Id="PolygonExecutable64MachineFile" Source=".\build\polygon-x64.exe" Name="Polygon64.exe" KeyPath="yes">
          <Shortcut Id="StartupPolygonMachine64" Directory="StartupFolder" Name="Polygon" WorkingDirectory='INSTALLFOLDER' Icon="icon.ico" IconIndex="0" Advertise="yes" />
        </File>
        <Condition><![CDATA[VersionNT64]]></Condition>
      </Component>
      <!-- <Component Id="PolygonRegistry64Machine" Guid="bfdb09c0-b016-4af1-b928-88842c84ea0f">
        <RegistryValue Root="HKCU" Key="Software\Polygon\Polygon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition><![CDATA[VersionNT64]]></Condition>
      </Component> -->
    </ComponentGroup>

    <!-- Components for per-user installation -->
    <ComponentGroup Id="ProductComponentsUser" Directory="USERINSTALLFOLDER">
      <!-- 32-bit components -->
      <Component Id="PolygonExecutable32User" Guid="f2ef23fd-52f8-4506-a503-c45754315e31">
        <File Id="PolygonExecutable32UserFile" Source=".\build\polygon-x86.exe" Name="Polygon32.exe">
          <Shortcut Id="StartupPolygonUser32" Directory="StartupFolder" Name="Polygon" WorkingDirectory='USERINSTALLFOLDER' Icon="icon.ico" IconIndex="0" Advertise="yes" />
        </File>
        <Condition><![CDATA[NOT VersionNT64]]></Condition>
      </Component>
      <Component Id="PolygonRegistry32User" Guid="1e255b22-9370-422d-85e6-50f2d3fb358d">
        <RegistryValue Root="HKCU" Key="Software\Polygon\Polygon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition><![CDATA[NOT VersionNT64]]></Condition>
      </Component>

      <!-- 64-bit components -->
      <Component Id="PolygonExecutable64User" Guid="7fd5a879-44f6-4558-80e9-286054d54fa8">
        <File Id="PolygonExecutable64UserFile" Source=".\build\polygon-x64.exe" Name="Polygon64.exe">
          <Shortcut Id="StartupPolygonUser64" Directory="StartupFolder" Name="Polygon" WorkingDirectory='USERINSTALLFOLDER' Icon="icon.ico" IconIndex="0" Advertise="yes" />
        </File>
        <Condition><![CDATA[VersionNT64]]></Condition>
      </Component>
      <Component Id="PolygonRegistry64User" Guid="b58a4b0c-25df-42bd-8f0e-cfece226c027">
        <RegistryValue Root="HKCU" Key="Software\Polygon\Polygon" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        <Condition><![CDATA[VersionNT64]]></Condition>
      </Component>
    </ComponentGroup>

    <!-- Components for uninstallation -->
    <ComponentGroup Id="UninstallComponents">
      <!-- Component for per-machine uninstallation -->
      <Component Id="RemoveFolderComponentMachine" Guid="81dc5882-d185-4551-89a3-08e63d761431" Directory="INSTALLFOLDER">
        <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\Polygon\Polygon" Name="installed" Type="string" Value="0" KeyPath="yes" />
        <Condition><![CDATA[NOT USER_INSTALL]]></Condition>
      </Component>

      <!-- Component for per-user uninstallation -->
      <Component Id="RemoveFolderComponentUser" Guid="abcfe492-de27-4f24-9cb7-bebf1e55987e" Directory="USERINSTALLFOLDER">
        <RemoveFolder Id="USERINSTALLFOLDER" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Polygon\Polygon" Name="installed" Type="string" Value="0" KeyPath="yes" />
        <Condition><![CDATA[USER_INSTALL]]></Condition>
      </Component>
    </ComponentGroup>

    <!-- Product icon -->
		<Icon Id="icon.ico" SourceFile=".\polygon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
  </Product>
</Wix>
